<div class="form-overlay">
    <div class="form-wrapper">
        <h2>Modifier votre nom d'utilisateur</h2>
        <div class="close">X</div>
        {{ form_start(usernameForm) }}
            {{ form_row(usernameForm.username) }}
            {{ form_row(usernameForm.submit) }}
        {{ form_end(usernameForm) }}
    </div>
</div>