<div class="authenticator">
    <form method="post" id="code-generator-form">
        <label for="code">Partager la fiche avec un vétérinaire :</label>
        <button type="submit">Générer un code</button>
    </form>
    <div id="code-display">
        <div id="access-code"></div>
        <span>Ce code est valable 10 min et ne peut être utilisé qu'une fois</span>
    </div>
</div> 