{% block footer %}
    <footer>
        <ul>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div>Copyright &copy; 2021. Tous droits réservés.</div>
    </footer>
{% endblock %}