section p {
    text-align: center;
    margin: 15px 0;
}

section a {
    text-align: center;
    font-weight: bold;
    color: var(--russian-violet);
    text-decoration: underline;
}

.form-group div{
    margin: 0;
}
