.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 7%;
    background-color: #C3CFD9;
}

section {
    width: 95%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DFE6ED;
    border-radius: 5px;
    padding: 10px;
}

section h2 {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}

section p {
    text-align: center;
    margin: 15px 0;
}

section a {
    text-align: center;
    font-weight: bold;
    color: #240046;
    text-decoration: underline;
}

form {
    width: 90%;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 10px 0 ;
}

.form-group div{
    margin: 0;
}

label {
    margin: 5px 0;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c6ccf5;
    font-size: 1rem;
    font-family: Do Hyeon, sans-serif;
}

textarea {
    max-width: 100%;
    min-height: 150px;
    max-height: 100vh;
}

button {
    background-color: #907AD6;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    font-family: Do Hyeon, sans-serif;
}

form li {
    color: #f84a7e;
    padding: 4px;
}

form li:before {
    content: url('../../img/site/warning.png');
    margin-right: 5px;
}


/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    section h2 {
        font-size: 1.4rem;
    }
    section p, section a, label, input, textarea, button {
        font-size: 1.2rem;
    }
    form div {
        margin: 20px 0 ;
    }
    .form-group {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        margin: 0;
    }
    .form-group div {
        width: 48%;
    }

}