main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

/***** AUTHENTICATOR *****/

.authenticator {
    background-color: #DFE6ED;
    padding: 10px;
}

.authenticator form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
}

label {
    font-weight: bold;
    padding: 5px 5px 5px 0;
    line-height: 27px;
    vertical-align: middle;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c6ccf5;
    margin-right: 5px;
}

input:focus {
    outline-color: #907AD6;
}

button {
    background-color: #907AD6;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    white-space: nowrap;
}

/***** MAIN *****/

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #C3CFD9;
}

.picture {
    display: none;
}

.cat-picture {
    width: 50%;
    max-width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
    border: 4px solid #4F518C;
}

.description {
    width: 90%;
}

.description p {
    margin-bottom: 5px;
}

/***** FUNCTIONNALITIES *****/

.functionalities {
    background-color: #DFE6ED;
}

.functionalities ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.functionalities li {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F9FA;
    border: 1px solid #c6ccf5;
    border-radius: 5px;
    box-shadow: 0px 0px 24px rgba(177, 177, 177, 0.30);
    margin: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F518C;
    border: 2px solid #240046;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
}

.icon img {
    width: 80%;
    height: auto;
}

.desc {
    width: 60%;
    padding: 5px;
    margin: 5px;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    /***** AUTHENTICATOR *****/
    .authenticator form {
        flex-direction: row;
    }
    /***** MAIN-CONTENT *****/
    .cat-picture {
        display: none;
    }
    .picture {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        margin: 0 10px;
    }
    .picture img {
        width: 100%;
        max-width: 300px;
        height: auto;
        border: 4px solid #4F518C;
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        margin: 0 10px;
    }
    .description p {
        margin: 10px;
        max-width: 300px;
        font-size: 1.2rem;
    }
    /***** FUNCTIONNALITIES *****/
    .functionalities ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        justify-items: center;
        padding: 5%;
    }
    .functionalities li {
        max-width: 550px;
        margin: 20px;
        font-size: 1.2rem;
    }
    .functionalities li:nth-child(odd) {
        justify-self: end;   
    }
    .functionalities li:nth-child(even) {
        justify-self: start;   
    }
    .icon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 1024px) {
    /***** MAIN-CONTENT *****/
    .main-content {
        padding: 10% 5%;
    }
    .picture {
        margin: 0 60px;
    }
    .description {
        margin: 0 60px;
    }
    .description p {
        margin: 20px;
    }
    /***** FUNCTIONNALITIES *****/
    .functionalities ul {
        padding: 10% 5%;
    }
    .functionalities li {
        margin: 30px;
    }
}