@font-face {
    font-family: 'Cute Font';
    src: url('../fonts/CuteFont-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Do Hyeon';
    src: url('../fonts/DoHyeon-Regular.ttf') format('ttf');
}

html {
	scroll-behavior: smooth;
}

body {
    font-family: Do Hyeon, sans-serif;
    min-width: 300px;
    transition: all 1s;
}

h1, h2, h3 {
    font-family: Cute Font, cursive;
}

/***** SCROLLBAR  ******/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #4F518C;
}

::-webkit-scrollbar-thumb {
    background: #907AD6;
}

/***** HEADER *****/

header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 22px rgba(175, 150, 243, 0.445);
    background-color: #4F518C;
}

.logo {
    width: 40%;
    padding: 10px;
}

.logo a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 68px;
    height: auto;
}

.logo h1 {
    text-align: center;
    font-weight: bold;
    color: white;
}

nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.login-btn, .logout-btn {
    background-color: #907AD6;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 15px;
    cursor: pointer;
}

.register {
    text-align: center;
    margin: 5px 15px;
}

.mobile-auth, .desktop-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #240046;
    color: white;
}

.mobile-auth a, .desktop-auth a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #907AD6;
    padding: 5px;
    margin: 5px 10px;
}

.user-avatar img {
    width: 40px;
    height: auto;
}

.desktop-auth {
    display: none;
    background-color: #4F518C;
    width: 40%;
}


/***** FOOTER *****/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    background-color: #4F518C;
    color: white;
    font-size: 0.8rem;
}

footer ul {
    display: flex;
    margin: 10px;
}

footer li:nth-child(2n)::before, footer li:nth-child(2n)::after {
    content: "|";
    margin: 0 10px;
}

/***** MESSAGE-MODAL *****/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #24004656;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4F518C;
}

.content {
    text-align: center;
    margin: 40px 20px 30px 20px;
}

.success-content {
    color: #56ffe8;
}

.danger-content {
    color: #f84a7e;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #907AD6;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.modal-button {
    background-color: #907AD6;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 5px 15px;
    cursor: pointer;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    /***** HEADER *****/
    .logo {
        width: 30%;
    }
    nav {
        width: 30%;
    }
    nav ul {
        flex-direction: row-reverse;
        align-items: center;
    }
    .mobile-auth {
        display: none;
    }
    .desktop-auth {
        display: flex;
    }
    /***** MESSAGE-MODAL *****/
    .modal {
        font-size: 1.2rem;
    }
}



