.container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 7%;
    background-color: var(--main-background-color);
}

section {
    width: 95%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
}

section h2 {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 20px 0;
}

form {
    width: 90%;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 10px 0 ;
}

form span {
    display: block;
    text-align: center;
    font-size: 0.9rem;
}

label {
    margin: 5px 0;
}

input, textarea, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--list-border-color);
    font-size: 1rem;
    font-family: Do Hyeon, sans-serif;
}

input:focus, textarea:focus {
    outline-color: var(--medium-purple);
}

textarea {
    max-width: 100%;
    min-height: 150px;
    max-height: 100vh;
}

button {
    background-color: var(--medium-purple);
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(63 54 88 / 45%);
    cursor: pointer;
    color: white;
    white-space: nowrap;
    font-size: 1rem;
    font-family: Do Hyeon, sans-serif;
    margin: 10px 0;
}

form li {
    color: var(--danger-color);
    padding: 4px;
}

form li:before {
    content: url('../../img/site/warning.png');
    margin-right: 5px;
}

.return {
    display: block;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #626364;
    margin: 20px 0;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    section h2 {
        font-size: 1.4rem;
    }
    label, input, textarea, button {
        font-size: 1.2rem;
    }
    form div {
        margin: 20px 0 ;
    }
    .form-group {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between !important;
        margin: 0 0;
    }
    .form-group div {
        width: 48%;
    }
}