{% extends "base.html.twig" %}

{% block title %}Le Charnet de Santé - Conditions d'utilisation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/homepage/legal-notice.min.css">
{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="articles">
                <h2>CONDITIONS D'UTILISATION ET MENTIONS LÉGALES</h2>
                <article>
                    <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, dite L.C.E.N., il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'"<em>Utilisateur</em>", du site <em>Le Charnet de Sante</em>, ci-après le "<em>Site</em>", les présentes mentions légales.</p>
                    <p>La connexion et la navigation sur le Site par l'Utilisateur implique l'acceptation intégrale et sans réserve des présentes mentions légales.</p>
                    <p>Ces dernières sont accessibles sur le Site à la rubrique "Mentions légales".</p>
                </article>
                <article>
                    <h3>ARTICLE 1 : L'ÉDITEUR</h3>
                    <p>L'édition et la direction de la publication du Site est assurée par Aurélie Gilet dont l'adresse e-mail de contact est charnetdesante@gmail.com.</p>
                    <p>Ci-après, l'"<em>Éditeur</em>".</p>
                </article>
                <article>
                    <h3>ARTICLE 2 : L'HÉBERGEUR</h3>
                    <p>L'hébergeur du Site est la société ... , dont le siège social est situé au ..., avec le <em>numéro de téléphone : ...</em> et <em>l'adresse e-mail de contact : ...</em></p>
                </article>
                <article>
                    <h3>ARTICLE 3 : ACCÈS AU SITE</h3>
                    <p>Le Site est accessible en tout endroit, 7j/7, 24h/24, sauf cas de force majeure, interruption programmée ou non et pouvant découler d'une nécessité de maintenance.</p>
                    <p>En cas de modification, interruption ou suspension du Site, l'Éditeur de saurait être tenu responsable.</p>
                </article>
                <article>
                    <h3>ARTICLE 4 : RESPONSABILITÉ DE L'UTILISATEUR</h3>
                    <p>L'Utilisateur est responsable des risques liés à l'utilisation de son identifiant de connexion et de son mot de passe.</p>
                    <p>Le mot de passe de l'Utilisateur doit rester secret. En cas de divulgation de mot de passe, l'Éditeur décline toute responsabilité.</p>
                    <p>L’utilisateur s’engage à n’incorporer ou diffuser sur le Site aucun document, contenu, information, fichier ou toute autre donnée quelle qu’en soit la forme, de nature à restreindre, ralentir, désorganiser, empêcher ou interrompre le bon fonctionnement et l’utilisation normale du Site, des équipements informatiques et/ou de télécommunication du Site et des autres utilisateurs du Site.</p>
                    <p>L'Utilisateur est entièrement responsable de tout contenu qu'il met en ligne et s'engage à ne pas porter atteinte à un tiers.</p>
                    <p>L'Utilisateur s'engage également :</p>
                    <ul>
                        <li>à ne faire usage d'aucun logiciel malveillant (notamment virus, ver, cheval de troie, composeur, logiciel espion, ...),</li>
                        <li>à ne diffuser aucun spam et plus généralement à n'utiliser aucune technique d'envoi massif et/ou automatique de messages,</li>
                        <li>à n'utiliser aucune technique de crawling ou d'aspiration de page web, et plus généralement aucune technique permettant de copier ou télécharger de manière massive les contenus du Site. L'utilisation d'une telle technique serait considérée comme un acte de contrefaçon violant les droits de propriété intellectuelle de l'Éditeur.</li>
                    </ul>
                    <p>Tout usage du service par l'Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l'objet d'une indemnisation au profit du site</p>
                </article>
                <article>
                    <h3>ARTICLE 5 : RESPONSABILITÉ DE L'ÉDITEUR</h3>
                    <p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l'Éditeur.</p>
                    <p>De même, la responsabilité du Site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>
                    <p>Le Site s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n'apporte pas une garantie de sécurité totale.</p>
                    <p>L'Éditeur se réserve la faculté d'une non-garantie de la fiabilité des sources, bien que les informations diffusées sur le site soient réputées fiables.</p>
                </article>
                <article>
                    <h3>ARTICLE 6 : DONNÉES PERSONNELLES</h3>
                    <p>L'Utilisateur doit obligatoirement fournir des données personnelles pour procéder à son inscription sur le site.</p>
                    <p>L'adresse email de l'Utilisateur pourra notamment être utilisée par le Site pour la gestion du compte.</p>
                    <p>Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
                    <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :</p>
                    <ul>
                        <li>Via son espace personnel sur le site</li>
                        <li>Via un formulaire de contact</li>
                        <li>Par mail à charnetdesante@gmail.com</li>
                    </ul>                    
                    <p>Aucune information personnelle de l'Utilisateur du Site n'est publiée à l'insu de l'Utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.</p>
                </article>
                <article>
                    <h3>ARTICLE 7 : LIENS HYPERTEXTES</h3>
                    <p>Le Site contient un certain nombre de liens hypertextes vers d'autres sites, mis en place avec l'autorisation de l'Éditeur. Cependant, l'Éditeur n'a pas la possibilité de vérifier le contenu des sites ainsi visités et n'assumera en conséquence aucune responsabilité de ce fait.</p>
                </article>
                <article>
                    <h3>ARTICLE 8 : COOKIES</h3>
                    <p>La navigation sur le Site est susceptible de provoquer l'installation de cookie(s) sur l'ordinateur de l'Utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l'identification de l'Utilisateur, mais qui enregistre des informations relatives à la navigation d'un ordinateur sur le site. Les données ainsi obtenues visent à faciliter la navigation sur le Site.</p>
                    <p>Le refus d'installation d'un cookie peut entraîner l'impossibilité d'accéder à certains services. L'Utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l'installation des cookies :</p>
                    <p>Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur préférences. Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.</p>
                    <p>Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis allez dans l'onglet Options. Cliquer sur l'onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés pour l'historique. Enfin décochez-la pour désactiver les cookies.</p>
                    <p>Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les cookies.</p>
                </article>
                <article>
                    <h3>ARTICLE 9 : PROPRIÉTÉ INTELLECTUELLE</h3>
                    <p>Les contenus du Site (logos, textes, éléments graphiques, vidéos, etc...) sont protégés par le droit d'auteur, en vertu du Code de la propriété intellectuelle.</p>
                    <p>L'Utilisateur devra obtenir l'autorisation de l'Éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.</p>
                    <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site, sans autorisation de l'éditeur est prohibée et pourra entraîner des actions et poursuites judiciaires telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
                    <p>Toute commercialisation, sous quelque forme que ce soit, de tout ou partie du contenu du Site, est interdite.</p>
                    <p>Les icônes du Site sont faites par <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio</a> de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>.</p>
                </article>
            </div>
        </section>
    </main>
{% endblock %}