{% extends "base.html.twig" %}

{% block title %}Le Charnet de Santé - Conditions d'utilisation{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/homepage/legal-notice.css">
{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="articles">
                <article>
                    <h2>CONDITIONS D'UTILISATION</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quos ut repellendus. Nostrum delectus dolores ad quo est maiores, eius quibusdam reiciendis iusto expedita sint, officia voluptatum tenetur temporibus veritatis.</p>
                </article>
                <article>
                    <h2>FONCTIONNEMENT DU SITE</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi esse suscipit perspiciatis eaque consequatur ratione totam iusto aperiam earum libero beatae, fugiat porro officia nobis impedit repellat, nulla aliquid veniam.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores eveniet ad voluptatem, quasi earum dolor odio consequatur eos animi dignissimos veritatis, mollitia eius aspernatur, qui at. Maiores praesentium ducimus illo?</p>
                </article>
            </div>
        </section>
        <section>
            <div class="articles">
                <h2>MENTIONS LÉGALES </h2>
                <article>
                    <h3>ARTICLE 1 : L'ÉDITEUR</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                </article>
                <article>
                    <h3>ARTICLE 2 : L'HÉBERGEUR</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                </article>
                <article>
                    <h3>ARTICLE 3 : ACCÈS AU SITE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                </article>
                <article>
                    <h3>ARTICLE 4 : COLLECTE DES DONNÉES</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                </article>
                <article>
                    <h3>ARTICLE 5 : COOKIES</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                </article>
                <article>
                    <h3>ARTICLE 6 : PROPRIÉTÉ INTELLECTUELLE</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptates! Voluptate ex, placeat vitae ducimus quis aliquam fuga neque, ipsum facere, doloremque nobis ullam. Ad maxime a animi eius eaque.</p>
                </article>
            </div>
        </section>
    </main>
{% endblock %}