/* FORMS */

.add-edit-data-form, .delete-data-form {
    display: none;
}

.form-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #24004656;
}

.form-wrapper {
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--purple-navy);
    color: white;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 5px;
    padding: 5px;
    background-color: var(--medium-purple);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.delete-btn {
    font-weight: bold;
}

form {
    margin-top: 20px;
}

form div {
    width: 90%;
    margin: 10px auto;
}

.form-wrapper h3 {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 40px;
}

#cat_measure_form_date, #cat_measure_form_heatEndDate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

#cat_measure_form_date select, #cat_measure_form_heatEndDate select {
    margin: 0 5px;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    form div {
        width: 50%;
        margin: 20px auto;
    }
    .form-wrapper h3 {
        font-size: 1.3rem;
        text-align: center;
    }
}