/* CHART */

.chart-container {
    justify-content: center;
    position: relative;
    height: 40vh;
    min-height: 250px;
    max-height: 350px;
}

.chart {
    width: 95%;
}

/* DATA ENTRIES */

.entries {
    display: flex;
    flex-direction: column; 
}

.last-entries {
    margin-bottom: 20px;
    position: relative;
}

.last-entries h3, .current-entries h3{
    width: 95%;
}

.entry {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.entry.entry--notes {
    flex-direction: column;
}

.entry-info {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.entry-info.data--variation {
    width: 70%;
}

.entry-info.data--notes {
    width: 100%;
    margin: 0 0 5px 0;
}

.entry-info.data--details {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5rem;
}

.entry-info.data--details p {
    padding: 0 4px;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date span, .data span {
    padding: 2px 0px;
    margin: 0px 4px;
}

.data {
    font-weight: bold;
    width: 70%;
    word-break: break-word;
}

.data.data--variation {
    width: 100%;
    line-height: 1.5rem;
}

.data.data--notes {
    width: 100%;
    text-align: left;
    margin: 5px 4px;
    padding: 0 !important;
}

em {
    font-weight: bold;
}

.date.data--variation, .data.data--variation {
    align-content: flex-start;
    margin: 0;
    font-weight: normal;
}

.data--variation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    .chart {
        width: 90%;
    }
    .entry {
        width: 90%;
    }
    .entry-info {
        gap: 20px;
    }
    .entry-info.data--variation {
        gap: 0px;
    }
    .last-entries {
        margin-bottom: 40px;
    }
    .last-entries h3, .current-entries h3, .tooltip {
        width: 90%;
    }
    .date, .data.data--variation {
        flex-direction: row;
    }
    .data--variation {
        justify-content: space-between;
        align-items: stretch;
    }
}

@media screen and (min-width: 1024px) {
    .entry-info.data--variation {
        width: 60%;
    }
    .data--variation {
        white-space: nowrap;
    }
}
