main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
}

section {
    width: 85%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

section h2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}

section p {
    font-weight: 600;
    text-align: center;
}

.cat-list-wrapper {
    width: 80%; 
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.add-cat-btn {
    background-color: var(--medium-purple);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(63 54 88 / 45%);
    cursor: pointer;
    color: white;
    white-space: nowrap;
    margin: 10px 0;
}

/* CAT ITEM */

.cat {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--list-background-color);
    border: 1px solid var(--list-border-color);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(63 54 88 / 45%);
    padding: 10px;
    margin: 20px 10px;
}

.cat-avatar {
    width: 80%;
    background-color: var(--medium-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px outset var(--medium-purple);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.cat-avatar img {
    width: 80%;
    height: auto;
}

.cat h3 {
    font-weight: 1.2rem;
    text-align: center;
    margin: 10px 0;
}

.look {
    width: 30px;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

.look:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    }
    @keyframes pulse {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
    50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}

/***** RESPONSIVE *****/

@media screen and (min-width: 768px) {
    section h2 {
        font-size: 1.4rem;
    }
    section h3, section p, .add-cat-btn  {
        font-size: 1.2rem;
    }
    .add-cat-btn {
        margin: 20px 0;
    }
}
