<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Aurélie Gilet">
        <meta name="description" content="Le Charnet de Santé est un carnet de santé pour chat en ligne, sécurisé et totalement gratuit.">
        <meta name="keywords" content="carnet de santé pour chat, carnet de santé en ligne, carnet de santé pour chat gratuit, santé du chat, suivi et soins du chat">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset('img/site/icon.png')}}"/>
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include 'partials/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'partials/footer.html.twig' %}

        {% block javascripts %}
            <script src="{{ asset('js/base.js') }}"></script>
        {% endblock %}
    </body>
</html>
