{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Erreur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/exception/error-pages.min.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>Une erreur s'est produite !</h2>
            
            <p>Vous pouvez <a href="{{ path('homepage') }}">retourner sur la page d'accueil</a>.</p>
            <p>Si le problème persiste, vous pouvez nous <a href="{{ path('contact') }}">contacter</a> pour nous expliquer votre problème.</p> 
            <img src="{{ asset('img/site/error-cat.png') }}" width="128" height="128"
            alt="Illustration de chat fermant une enveloppe">
        </section>
    </main>
{% endblock %}